<div *ngIf="product">
    <h2>{{product.name}} details!</h2>
    <div><label>id: </label>{{product.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="product.name" placeholder="name"/>
    </div>
    <div>
        <label>Unit price: </label>
        {{product.price}}
    </div>
    <div>
        <label>Quantity (Select how many albums, price will be shown below): </label>
        <input [(ngModel)]="quantity" placeholder="quantity"/>
    </div>
    <div>
        <label>Total price: </label>
        {{product.price | calculatePrice:quantity}}
    </div>
</div>