<html>
<head>
<title>Buses</title>
</head>

<body>

<table>
<% buses.forEach((bus) => { %>
  <tr> 
    <td><%= bus.busNumber %></td> 
    <td><%= bus.from %></td> 
    <td><%= bus.to %></td> 
  </tr>
<% }) %>
</table>

</body>

</html>

